@layer animation {
    @supports (animation-timeline: scroll()) {
        /* Hide warning when native support */
        .warning {
            display: none;
        }
    }

    @keyframes grow-progress {
        from {
            transform: scaleX(0);
        }
        to {
            transform: scaleX(1);
        }
    }

    #progress {
        animation: grow-progress linear;
        animation-timeline: scroll();
    }

    #progress {
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 1em;
        transform-origin: 0 50%;
        background: red;
    }
}
