/* ###  Core Concepts: scroll() and ScrollTimeline | Unleash the power of Scroll-Driven Animations */

@layer animation-scroll-progress-bar {
  @keyframes grow-progress {
    from {
      transform: scaleX(0);
    }
    to {
      transform: scaleX(1);
    }
  }

  #progress {
    animation: grow-progress linear;
    animation-timeline: scroll();
  }
}
