/* @layer demo, meta; */
@import "./_animations.css";

@supports (animation-timeline: scroll()) {
  /* Hide warning when native support */
  .warning {
    display: none;
  }
}

#progress {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 1em;
  transform-origin: 0 50%;
  background: red;
}

/** NON ESSENTIAL STYLES BELOW **/
html {
  color-scheme: light dark;
}
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: clamp(1.1em, calc(0.5em + 1vw), 3em);
  line-height: 1.42;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

main {
  font-weight: 300;
  width: 90vw;
  max-width: 40em;
  margin: 0 auto;
  padding: 4em 0;
}

main img {
  width: 100%;
  height: auto;
}

.warning {
  padding: 1em;
  margin: 1em 0;
  border: 1px solid #ccc;
  background: rgba(255 255 205 / 0.8);
}

.warning > :first-child {
  margin-top: 0;
}

.warning > :last-child {
  margin-bottom: 0;
}

.warning a {
  color: blue;
}
.warning--info {
  border: 1px solid #123456;
  background: rgb(205 230 255 / 0.8);
}
.warning--alarm {
  border: 1px solid red;
  background: #ff000010;
}

@media (prefers-color-scheme: dark) {
  .warning {
    background: #333;
  }
  .warning a {
    color: lightblue;
  }
  .warning--info {
    border-color: lightblue;
  }
}

button {
  position: fixed;
  right: 1em;
  top: 1em;
}
