@layer demo {
    header {
        background-color: pink;
        height: 100vh;
        display: grid;
        inset: 0;
        align-content: center;
        place-items: center;
        background: white;

        position: fixed;
        position: relative;
        z-index: 2;
    }

    body {
        margin: 0;
        background: white;
    }

    header h1 {
        --font-level: 7;
        position: relative;
        margin: 0;
        color: black;
    }

    header h1 span {
        position: absolute;
        bottom: 100%;
        left: 50%;
        display: inline-block;
        translate: -50% 50%;
        font-size: 0.2em;
        text-transform: uppercase;
        white-space: nowrap;
        color: orangered;
    }

    header h2 {
        --font-level: 1;
        margin: 0;
        opacity: 0.5;
        text-transform: uppercase;
        color: black;
    }

    .svg-filter {
        width: 0;
        height: 0;
        position: absolute;
    }

    [contenteditable]:focus-visible {
        outline-color: red;
    }

    /* Video layout stuff */

    .video-container {
        --font-level: var(--font, 10);
        position: sticky;
        inset: 0;
        /* height: 100vh; */
        background: white;

        display: flex;
        align-items: center;
    }

    .video-mask {
        height: 100vh;
        height: 100vh;
        width: 100vw;
        position: absolute;
        z-index: 2;
        background: black;
        background-color: white;
        color: black;
        mix-blend-mode: lighten;
        display: grid;
        place-items: center;

        inset: 0;
        overflow: hidden;
    }

    img.video-replacement {
        width: 100vw;
        object-fit: cover;
    }

    .video-mask h1 {
        display: flex;
        text-align: center;
        margin: 0;
        anchor-name: --head;
        align-items: center;
    }

    .video-mask h1 svg {
        width: 2ch;
    }

    footer {
        padding: 2rem;
        text-align: center;
        opacity: 0.875;
        font-weight: 300;
        font-size: 0.875rem;
    }

    footer a {
        text-decoration: none;
        color: inherit;
    }

    .content {
        --font-level: var(--font, 10);
        position: relative;
        z-index: 2;
        margin-top: calc(-50vh + 0.5lh);
        color: black;
    }

    .content > div {
        /* --font-level: var(--font, 10);
        width: 5ch;
        max-width: calc(100vw - 2rem);
        margin: 0 auto;
        padding-bottom: 25vh; */
    }

    h2 {
        --font-level: 5;
        font-weight: 500;
        margin: 0;
    }
    p {
        color: #86868b;
    }
    .content p {
        --font-level: 2;
        width: 30ch;
        max-width: 100%;
        margin-block: 0.5rem;
        span {
            color: black;
        }
    }

    .follow {
        /* min-height: 100vh; */
        display: grid;
        place-items: center;
        align-content: center;
        position: sticky;
        top: 0;
    }

    /* .outro section:last-of-type {
        height: 100vh;
    } */

    .follow h2 span {
        --font-level: 6;
        filter: drop-shadow(0 0 calc((var(--active) / 100) * 5px) hsl(0 0% 100% / 0.6))
            drop-shadow(0 0 calc((var(--active) / 100) * 10px) hsl(0 0% 100% / 0.4))
            drop-shadow(0 calc((var(--active) / 100) * 6px) calc((var(--active) / 100) * 15px) hsl(0 0% 100% / 0.3))
            drop-shadow(0 calc((var(--active) / 100) * 8px) calc((var(--active) / 100) * 20px) hsl(0 0% 100% / 0.2))
            drop-shadow(0 calc((var(--active) / 100) * 10px) calc((var(--active) / 100) * 30px) hsl(0 0% 100% / 0.1));
    }
}
