.mural-logo-mask {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 2;
  background: black;
  /* background-color: white; */
  color: black;
  mix-blend-mode: lighten;
  display: grid;
  place-items: center;

  inset: 0;
  overflow: hidden;
}

img.logo-bg {
  width: 100vw;
  object-fit: cover;
}

.mural-logo-container {
  position: sticky;
  inset: 0;
  height: 100vh;
  background: white;

  display: flex;
  align-items: center;
}

.mural-logo-mask span {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 20px;
  padding: 80px 40px;

  position: relative;
  display: block;

  /* aspect-ratio: 1/1.2; */
}

/* .mural-logo-mask span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 105%;
  height: 105%;
  background-color: transparent;
  box-shadow: 0 0 0px 5px white;
} */

.mural-logo-mask span svg {
  /* width: 2ch; */
}

@layer animation {
  .logo-spacer {
    height: 100vh;
    margin-top: 120vh;
    view-timeline: --buffer;
  }

  @keyframes shrink {
    1% {
      background: white;
    }
    2% {
      scale: 50;
      background: white;
      /* opacity: 100; */
    }
    20% {
      scale: 20;
      background: white;
    }

    70% {
      scale: 5;
      background: white;
    }
    80% {
      scale: 3;
      background: white;
    }
    to {
      scale: 1;
      background: white;
    }
  }

  .mural-logo-mask .svg-wrap,
  .mural-logo-mask span {
    background-color: black;
    /* background-color: white; */
    scale: var(--scale, 100);
    animation: shrink both linear;
    transition-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68);
    animation-timeline: --buffer;
    animation-range: entry;
  }

  /* @property --active {
        inherits: true;
        initial-value: 0;
        syntax: "<number>";
    }

    .outro section:last-of-type {
        view-timeline: --outro;
    } */

  /* .follow h2 span {
        opacity: calc(0.25 + (var(--active) / 100));
        animation: activate both
            linear(
                0 0%,
                0.6832 7.89%,
                0.9171 11.07%,
                1.0251 12.99%,
                1.1058 14.9%,
                1.1619 16.86%,
                1.1945 18.91%,
                1.2024 20.02%,
                1.2043 21.18%,
                1.1907 23.72%,
                1.1598 26.27%,
                1.0604 32.59%,
                1.0172 35.84%,
                0.9839 39.49%,
                0.967 43.26%,
                0.9639 45.77%,
                0.9661 48.59%,
                0.9963 60.54%,
                1.0054 67.42%,
                1 100%
            );
        animation-timeline: --outro;
    } */

  /* @keyframes activate {
        to {
            --active: 100;
        }
    } */

  /* .follow h2 span:first-of-type {
        animation-range: entry 0% entry 50%;
    }
    .follow h2 span:last-of-type {
        animation-range: entry 50% entry 100%;
    } */

  /* .content > div {
        --to: 0;

        translate: 0 0.25lh;
        opacity: 0;
        animation: lift both ease-out, reveal both ease-out;
        animation-timeline: --buffer;
        animation-range: entry 94% entry 102%;
    }

    @keyframes reveal {
        to {
            opacity: var(--light, 1);
        }
    }

    @keyframes lift {
        to {
            translate: 0 var(--to, 0);
        }
    } */
}
