.mural-container {
  position: sticky;
  inset: 0;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
}

.mural-container img {
  width: 100vw;
  object-fit: cover;
}

.mural-mask {
  height: 100vh;
  width: 100vw;
  background: red;
  position: absolute;
  z-index: 2;
  /* background: green; */
  background-color: white;
  color: black;
  mix-blend-mode: lighten;
  display: grid;
  place-items: center;
  animation: rectangle-mask-shrink both linear;

  transition-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68);
  animation-timeline: --mural-rectangle;
  animation-range: entry;
  /* inset: 0; */
  /* overflow: clip; */

  /* transform: translateX(-220vh); */
}
@keyframes rectangle-mask-shrink {
  0% {
    /* scale: 80; */
    transform: translateX(220vh);
  }
  80% {
    /* transform: translateX(0); */
  }
  100% {
    /* scale: 1; */
    transform: translateX(0);
  }
}
.mural-mask span {
  position: absolute;
  background: black;
  left: 0;
  width: 500px;
  height: 400px;
  animation: rectangle-mask-opacity both linear;
  transform: translateX(0);
  transition-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68);
  animation-timeline: --mural-rectangle;
  animation-range: entry;
}

@keyframes rectangle-mask-opacity {
  0% {
    transform: translateX(-200vh);
  }

  100% {
    transform: translateX(0);
  }
}

.mural-spacer {
  height: 100vh;
  margin-top: 50vh;
  view-timeline: --mural-rectangle;
}
