@import "./_base.css";
@import "./_demo.css";
/* animations */
@import "./_logo-scale.css";
@import "_rectangle.css";
@import "./_columns.css";

:root {
  timeline-scope: --buffer, --reverse-columns, --mural-rectangle;
}

html {
  scroll-behavior: smooth;
}
div.tp-dfwv {
  position: fixed;
  z-index: 99999;
  width: 280px;
}
